:root {
  --bg-primary: #ececec;
  --main: #866ec7;
  --text-secondary: #000000;
  --text-primary: #ffffff;
}

nav {
  height: 10vh;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}

.logo {
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--bg-primary);
  overflow-x: hidden;
}

.menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10vh;
  display: flex;
  left: 0;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main);
  z-index: 100;
}

.menu div {
  border-right: 3px solid var(--text-primary);
  width: 33.3%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  cursor: pointer;
  
}

.menu div h5{
  font-size: 0.8rem;
}

.profile {
  border: none !important;
}

.join {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all 0.2s ease;
  width: 100%;
  height: 100vh;
  display: none;
}

.pf {
  opacity: 0;
  pointer-events: none;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  overflow: none;
}

.home {
  opacity: 0;
  pointer-events: none;
  height: 80vh;
  transition: all 0.2s ease;
  display: none;
}

.active {
  position: absolute;
  pointer-events: all;
  opacity: 1;
  display: block;
}

.post-container {
  width: 100%;
  background-color: var(--text-primary);
  padding: 20px;
  border-radius: 10px;
}

.class-post-container {
  width: 100%;
  background-color: var(--text-primary);
  padding: 30px;
  border-radius: 10px;
}

.class-post-container a{
    text-decoration: none;
    color: #252525;
}

.class-post-container a:focus{
    color: #252525;
}

.class-post-container a:hover{
    color: var(--main);
}

.profile-container {
  background-color: var(--main);
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  border-radius: 15px;
  flex-direction: column;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.pf-detail-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 50%;
  align-items: center;
  padding: 20px;
}

.pf-img-container {
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  overflow: hidden;
}

.pf-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.default,
.detail {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  color: var(--text-primary);
}

.default h4,
.detail h4 {
  font-size: 1rem;
}

.class-container {
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-primary);
  margin-bottom: 20px;
  border-radius: 10px;

}


.class-container h4 {
  font-size: 0.8rem;
  width: 33%;
}

.class-container h4:last-child{
  width: 34%;
}

.create-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 11vh;
  left: 10px;
  background-color: var(--bg-primary);
  border: 2px solid var(--main);
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 100;
  transition: all 0.5s ease;
}

.create-btn:hover{
  background-color: var(--main);
  color: var(--text-primary);
}

.form-lee {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #866ec7ad;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 1 !important;
  top: -100%;
  left: 0;
  transition: all 0.5s ease;
}

.form-lee.fade {
  top: 0;
  transition: all 0.5s ease;
}

.form-lee form {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.scan-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--main);
  border-radius: 10px;
}

.scan-container video{
  width: 90%;
  height: 90%;
  position: relative;
  z-index: 20;
}

.joinDetailContainer{
  width: 100vw;
  height: 90vh;
  top: 10vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
}

.joinDetail{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  color: #252525;
  
}

.joinDetail div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 10%;
}

.joinDetail div button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 1rem;
}
.joinBtn{
  border: 2px solid var(--main);
  background-color: transparent;

}
.joinCalcel{
  background-color: var(--main);
  border: 2px solid #482ff7;
  color: var(--text-primary)
}
.joinDetail h2{
  border-bottom: 2px solid #252525;
  padding: 5px;
}

.joinDetail h2 , .joinDetail h4{
  font-size: 1rem;
}

.logoutBtn{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 60px;
  height: 35px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: var(--main);
  font-size: 1rem;
}

.joinedStudent{
  width: 100%;
  position: relative;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #252525 !important;
}

.brc h3{
  font-size: 1.5rem;
}


.joinedStudent h4{
  font-size: 1rem;
  text-align: center;
  width: 33%;
}


@media screen and (min-width: 370px){
  .scan-container{
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 470px) {
  .scan-container{
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 768px){
  .brc{
    border-right: 2px solid #866ec7;
    
  }
}
@media screen and (min-width: 992px) {
  .profile-container {
    flex-direction: row;
  }
  .pf-detail-container {
    width: 50%;
  }
  
  
  .post-container {
    width: 50%;
  }
  .form-lee.fadein {
    clip-path: circle(200px at -10% 80%) !important;
    -webkit-clip-path: circle(200px at -10% 80%) !important;
  }
  .scan-container{
    width: 440px;
    height: 440px;

  }

}
