{% extends 'rollcall/base.html' %}
{% block title %}
 Home 
{% endblock %}
{%block content %}
<div class="container-fluid p-0 m-0">

  <!-- Bottom Menu -->
  <div class="menu">
    <div class="menu_join" data-section="join"><h5>{% if student %}
    Join {% else %} Create {% endif %}</h5></div>
    <div class="menu_home" data-section="home"><h5>Home</h5></div>
    <div class="profile" data-section="profile">
      <h5>Profile</h5>
    </div>
  </div>
  <!-- End Bottom Menu -->



  <!-- Create/Join Section -->
  <section class="join" id="join">

    <!-- Join section for Students -->
    {% if student %}
    <div>
      <div class="scan-container">
        <video id="preview"></video>
        <div class="form-check form-switch" style="position: absolute;bottom: 10px;left: 10px;">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" id="camera" onchange="handleChange()">
          <label class="form-check-label" for="flexSwitchCheckChecked" style="font-size: 0.8rem;color: #fafafa;">Camera</label>
        </div>
    
      </div>
     

     <form method="POST" style="position: absolute;top: 10vh !important;right: 0 !important;display: none;">
      {% csrf_token %}
       <input type="text" name="room_name" id="room_name">
       <input  type="password" name="room_password" id="room_password">
       <input type="submit" id="room_submit">
     </form>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script type="text/javascript">
      var videoId = document.getElementById('preview')
      var scanner = new Instascan.Scanner({ video: videoId });
      var clicked = false;
      var switchBtn = document.getElementById('switchCamera')
      

      
      function handleChange(){
        clicked = !clicked;

        if (clicked === false){
          videoId.style.display = 'none';
          videoId.style.transation = 'all 0.5s else';
          scanner.stop();
        }
        else{
          videoId.style.display = 'block';
          videoId.style.transation = 'all 0.5s else';
          Instascan.Camera.getCameras().then(function (cameras) {
           
          if (cameras.length > 0) {
            if (cameras[1]){
              scanner.start(cameras[1]);
            }else{
              scanner.start(cameras[0]);
            }
          } else {
            window.alert("No camera found")
          }
          }).catch(function (e) {
          console.error(e);
          });

          scanner.addListener('scan', function (content) {
            const obj = JSON.parse(content);
            const room_name = obj.name
            const room_password = obj.password
            const name = document.getElementById('room_name')
            const password = document.getElementById('room_password')
            if (content){
              scanner.stop();
              name.value = room_name;
              password.value = room_password;
              document.getElementById("room_submit").click();
            }
          });
        }

      };
      

      
    </script>
    {% endif %}
    <!-- End Join section for Students -->


    <!-- Create section for Teachers -->
    {% if teacher %}
    
    <div class="row">
      
      <div class="col-lg-3"> </div>
      <div
        class="col-12 col-lg-6"
      
      >
         <button class="create-btn">Create</button>

        <div class="class-post-container">

          {% for i in classroom %}
          
            <a href="{% url 'rollcall:classDetail' i.name %}">
              <div class="class-container shadow">
              <h4 class="text-start">{{i.major}}</h4>
              <h4 class="text-start">{{i.year}}</h4>
              <h4 class="text-end">{{i.start}}</h4>
              </div>
            </a>
          
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-3"> </div>
    </div>
    {% endif %}
    <!-- End Create section for Teacher -->
  </section>
  <!-- End Create/Join Section -->

  <!-- Home -->
  <section class="home p-3" id="home">
    {% if request.user.teacher %}
    <a href="{% url 'rollcall:post' %}"><button class="create-btn">Post</button></a>
    {% endif %}
    <div class="row pt-1 pb-5">

      <div class="col-lg-0"></div>
      {% for i in postarticle %}
      <div class="col-lg-12 mb-3 d-flex justify-content-center align-items-center">

            <div class="post-container shadow">
              <div class="post-content">
                <div> <p> {{i.content|safe}} </p> </div>
                <div> 
                    <h5 class="text-end" style="font-size: 1.3rem;"> {{i.post.name}} </h5>
                    <h5 class="text-end text-secondary" style="font-size: 1rem;"> {{i.date}} </h5>
                </div>

              </div>
            </div>
          
      </div>
      {% endfor %}
      <div class="col-lg-0"></div>
    </div>
  </section>

  <!-- ENd Home -->

  <!-- Profile Section -->
  <section class="pf" id="profile">
    <div class="row">
      <div class="col-12">
        <div class="profile-container shadow">
          <a href="{% url 'rollcall:logout' %}"><button class="logoutBtn">Logout</button></a>
          <div class="pf-img-container">
            <img src="profile.png" alt="" />
          </div>
          <div class="pf-detail-container">
            {% if teacher %}
            <div class="default">
              <h4>Name</h4>
              <h4>Major</h4>
              <h4>Post</h4>
            </div>
            <div class="detail">
              <h4>{{teacher.name}}</h4>
              <h4>{{teacher.major}}</h4>
              <h4>{{teacher.post}}</h4>
            </div>
            {% endif %} {% if student %}
            <div class="default">
              <h4>Name</h4>
              <h4>Major</h4>
              <h4>Year</h4>
              <h4>Roll No.</h4>
            </div>
            <div class="detail">
              <h4>{{student.name}}</h4>
              <h4>{{student.major}}</h4>
              <h4>{{student.year}}</h4>
              <h4>{{student.roll}}</h4>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <!-- ENd Profile Section -->



</div>

{% endblock %}
